.meals-list{
    border: 1px solid rgb(116, 38, 38);
    margin-top: 2rem;
    background-color: white;
    width: 45rem;
    margin-left: 21rem;
    border-radius: 11px;
    padding: 26px;
}

.name{
padding-bottom: 4px;
font-weight: bolder;
}
.description{
    padding-bottom: 5px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.price{
font-weight:bold;
color: rgb(202, 89, 24);
}

.meals-available{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}