#nav-class{
    background-color: #7a2929;
}

.header-title{
    font-weight: 800;
}

#top-nav-cart{
    border-radius: 29px;
    margin-left: 62rem;
    padding-right: 20px;
    padding-top: 13px;
    border: 1px solid rgb(231, 225, 225);
    background-color: #7a2929;
}